@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Syne:wght@400..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #161616;
  color: white;
  width: 100vw;
  font-family: "Inter", sans-serif;
}

.no-arrows::-webkit-outer-spin-button,
.no-arrows::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.creator-content {
  display: grid;
  grid-template-columns: 1fr 425px;
  gap: 32px;

  @media (max-width: 1100px) {
    grid-template-columns: 1fr !important;
  }
}

.creator-tasks-table {
  border: 1px solid #606060;
  margin-top: 32px;
  border-radius: 8px;

  overflow: scroll;

  @media (max-width: 1100px) {
    order: 2;
  }
}

.bkg-creator-profile {
  position: absolute;
  top: 0;
  padding: 40px;
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  @media (max-width: 1310px) {
    padding: 20px !important;
  }

  @media (max-width: 500px) {
    padding: 8px !important;
  }
}

.creator-profile-img {
  display: flex;
  flex-direction: row;
  gap: 32px;

  @media (max-width: 550px) {
    margin-left: auto;
    margin-right: auto;
    gap: 8px !important;
    flex-direction: column !important;
  }
}
